**Python Basics: Variables, Data Types, Control Flow, Functions**

In [ ]:
# Printing in Python
# Escape Sequences
print("Hello Data Science.")
print('My Journey \nStarts')
print('What\'s up?')
print("She said \"Hey\" in Bangla")
print('How \\ are you?')
print('How is it \t going?')
print('Everything \b good?')
print("""
My learning path:
 -Python Basics
 -Data Science
 -Artificial Intelligence
""")

In [ ]:
# Real World Application:

price_shirt = 25.00
price_jeans = 45.50

qty_shirt = 2
qty_jeans = 1

total_shirt = price_shirt * qty_shirt
total_jeans = price_jeans * qty_jeans
subtotal = total_shirt + total_jeans
print("Subtotal: ", subtotal)
discount = subtotal * 0.10
final_total = subtotal - discount
print("Final Total: ", final_total)

In [ ]:
# Variables:

name = 'Nur'
print("My name is", name)
print(name, "is my name")
print(name, 'will be the greatest Data Scientist')
print("I am",name,"and I love Data Science")
print("I am " + name + " and I love Data Science")
print(f"I am {name} and I love Data Science")

f_name, l_name = 'Nur', 'Ahmed'
print(f"My name is {f_name} {l_name}")

f_name, l_name = l_name, f_name
print(f"My name is {f_name} {l_name}")

In [ ]:
# Input and Output:

name = input("Enter Your Name: ")
print("Your name is", name)

Your name is Nur

In [ ]:
# Data Types

a = 10 # int 
b = 3.15 # float
c = "What's up" # str
d = 'Hi' #str
e = '1234' # str
f = True # bool
g = False # bool
h = None # NoneType
i = "" # Empty String

print(type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h))
print(f"{a} is of type {type(a)}")

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'str'> <class 'bool'> <class 'bool'> <class 'NoneType'>
10 is of type <class 'int'>

In [4]:
# Functions:

text = 'Hi'
number = 10

type(text)
type(number)

print(type(text)) # Function
print(type(number)) # Function

print(len(text))  # Function
print(text.upper())  # Method
print(number.bit_length())  # Method

<class 'str'>
<class 'int'>
2
HI
4