**Python Basics: Variables, Data Types, Control Flow, Functions**

In [ ]:
# Printing in Python
# Escape Sequences
print("Hello Data Science.")
print('My Journey \nStarts')
print('What\'s up?')
print("She said \"Hey\" in Bangla")
print('How \\ are you?')
print('How is it \t going?')
print('Everything \b good?')
print("""
My learning path:
 -Python Basics
 -Data Science
 -Artificial Intelligence
""")

In [ ]:
# Real World Application:

price_shirt = 25.00
price_jeans = 45.50

qty_shirt = 2
qty_jeans = 1

total_shirt = price_shirt * qty_shirt
total_jeans = price_jeans * qty_jeans
subtotal = total_shirt + total_jeans
print("Subtotal: ", subtotal)
discount = subtotal * 0.10
final_total = subtotal - discount
print("Final Total: ", final_total)

In [ ]:
# Variables:

name = 'Nur'
x = str(3)
y = int(3)
z = float(3.0)
m = n = 7
fruits = ['apple', 'banana', 'cherry']
x2, y2, z2 = fruits

print(x2)
print(f"The value is {m} and the type is {type(m)}")
print(f"The value is {z} and the type is {type(z)}")
print(f"The value is {y} and the type is {type(y)}")
print(f"The value is {x} and the type is {type(x)}")
print("My name is", name)
print(name, "is my name")
print(name, 'will be the greatest Data Scientist')
print("I am",name,"and I love Data Science")
print("I am " + name + " and I love Data Science")
print(f"I am {name} and I love Data Science")

f_name, l_name = 'Nur', 'Ahmed'
print(f"My name is {f_name} {l_name}")

f_name, l_name = l_name, f_name
print(f"My name is {f_name} {l_name}")

apple
The value is 7 and the type is <class 'int'>
The value is 3.0 and the type is <class 'float'>
The value is 3 and the type is <class 'int'>
The value is 3 and the type is <class 'str'>
My name is Nur
Nur is my name
Nur will be the greatest Data Scientist
I am Nur and I love Data Science
I am Nur and I love Data Science
I am Nur and I love Data Science
My name is Nur Ahmed
My name is Ahmed Nur

In [ ]:
# Input and Output:

name = input("Enter Your Name: ")
print("Your name is", name)

Your name is Nur

In [ ]:
# Data Types

a = 10 # int 
b = 3.15 # float
c = "What's up" # str
d = 'Hi' #str
e = '1234' # str
f = True # bool
g = False # bool
h = None # NoneType
i = "" # Empty String

print(type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h))
print(f"{a} is of type {type(a)}")

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'str'> <class 'bool'> <class 'bool'> <class 'NoneType'>
10 is of type <class 'int'>

In [4]:
# Functions:

text = 'Hi'
number = 10

type(text)
type(number)

print(type(text)) # Function
print(type(number)) # Function

print(len(text))  # Function
print(text.upper())  # Method
print(number.bit_length())  # Method

<class 'str'>
<class 'int'>
2
HI
4

**1 Variables and Naming**

In [1]:
# Variables store references to values. Use meaningful names for readability.
# Convention: snake_case for variables and functions, UPPER_CASE for constants.

a = 10                # integer
b = 3.5               # float
dataset_name = "sales_Q1"  # string
IS_PRODUCTION = False  # boolean constant-style name

# Reassigning is allowed: variables are labels pointing to objects.
a = a + 5  # now a == 15
print("a after adding 5:", a)

# Multiple assignment and swapping
x, y = 1, 2
x, y = y, x
print("swapped x,y:", x, y)

a after adding 5: 15
swapped x,y: 2 1

**2 Data Types**

In [2]:
# Numeric types
int_var = 42               # integers
float_var = 3.1415         # floating-point numbers
complex_var = 2 + 3j       # complex numbers (rare in analytics)

# Text
name = "Alice"
multi_line = """This is
a multi-line string"""

# Boolean
flag = True

# None
missing = None  # use to indicate missing/unknown value

# Built-in collections (very common in analytics)
# List: ordered, mutable, allows duplicates
prices = [100, 200, 150, 200]

# Tuple: ordered, immutable
point = (3, 4)

# Set: unordered, unique elements (good for dedup)
unique_ids = {101, 102, 103}

# Dict: key-value mapping (extremely useful for records)
record = {"id": 1, "name": "Alice", "sales": 250.0}

print("types:", type(int_var), type(name), type(prices), type(record))

# Mutability note:
# - Lists and dicts are mutable (can change in-place).
# - Tuples, strings, numbers are immutable.

types: <class 'int'> <class 'str'> <class 'list'> <class 'dict'>

**3 Type Conversion and Checking**

In [ ]:
# Convert between types explicitly when needed:
s = "123"
n = int(s)         # "123" -> 123
f = float("12.5")  # "12.5" -> 12.5
txt = str(3.14)    # 3.14 -> "3.14"

# Safe conversion pattern:
def safe_int(x, default=0):
    """Try to convert x to int; return default if fails."""
    try:
        return int(x)
    except (ValueError, TypeError):
        return default

print("safe_int('abc'):", safe_int("abc", default=-1))

# Check type or isinstance
print("is prices a list?", isinstance(prices, list))

safe_int('abc') -1
is prices a list? True

**4 Control Flow**

In [ ]:
value = 34
if value > 80:
    grade = 'A+'
elif value > 70:
    grade = 'A'
else:
    grade = 'B+'

print(f"Value: {value}, Grade: {grade}")

numbers = [12, 34, 25, 62, 11, 14]
s = 0
for num in numbers:
    s += num
print(f"Sum : {s}")

for idx, val in enumerate(numbers):
    print(f"Index: {idx}, Value: {val}")

dates = ["2025-01-01", "2025-01-02", "2025-01-03"]
sales = [100, 150, 200]
for d, sale in zip(dates, sales):
    print(f"")

Value: 34, Grade: B+
Sum : 158
Index: 0, Value: 12
Index: 1, Value: 34
Index: 2, Value: 25
Index: 3, Value: 62
Index: 4, Value: 11
Index: 5, Value: 14